---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<br>
<strong>Upcoming teaching:</strong> <br><br>

Instructor for 115A Economic Development in Spring 2026 (UC Davis, undergraduate) <br>
Course description: The world has become much richer since the 19th Century as many countries have achieved unprecedented rates of economic growth. Yet there remain many poor countries and, even in richer countries, many poor people. This course examines the process of economic development, including the determinants of poverty. We will use economics—primarily microeconomics—to describe and understand the many issues developing countries face and the constraints and motivations that govern the choices of individuals and households in these contexts. We will frequently connect our discussions to specific policy options and to the functioning of government, non-profit, and for-profit entities.
<br><br>

Guest lecture in ARE 176: Environmental Economics on December 3, 2025 (UC Davis, undergraduate) <br>

<br>
<strong>Past teaching:</strong>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
